---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <header class="mt-8 mb-12">
    <h1 class="font-bold text-4xl tracking-tight">About&nbsp;&not;</h1>
    <p class="mt-1 text-2xl font-medium text-neutral-600 max-w-prose">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, eius.
      Quibusdam commodi aspernatur, enim veniam dolore esse, est sed provident
      possimus nobis, placeat facilis explicabo alias! A deleniti ex alias!
    </p>
  </header>
</Layout>
