---
import Layout from "@/layouts/Layout.astro";
const meta = {
  title: "About",
  description:
    "Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, eius. Quibusdam commodi aspernatur, enim veniam dolore esse.",
} as const;
---

<Layout {...meta}>
  <header class="mt-8">
    <h1 class="font-bold text-3xl sm:text-4xl tracking-tight">
      {meta.title}&nbsp;&not;
    </h1>
    <p
      class="mt-1 text-xl sm:text-2xl font-medium text-neutral-600 max-w-3xl text-balance"
    >
      {meta.description}
    </p>
  </header>

  <section class="mt-12">
    <div class="prose">
      <p>
        Lorem ipsum dolor sit, adipisicing elit. Expedita nobis ducimus
        provident exercitationem. Adipisci itaque dolorem doloremque illum iste,
        et exercitationem quo voluptatum ducimus ad eligendi suscipit officia
        fuga aperiam!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita nobis
        ducimus provident exercitationem. Adipisci itaque dolorem doloremque
        illum iste, et exercitationem quo voluptatum ducimus ad eligendi
        suscipit officia fuga aperiam!
      </p>
    </div>
  </section>
</Layout>
