@import "tailwindcss";

@theme {
  --font-sans: Inter, sans-serif;
  --text-xxs: 0.625rem;
  --color-background: var(--color-neutral-100);
  --color-foreground: var(--color-neutral-900);
  --color-muted-foreground: var(--color-neutral-500);
  --color-primary: oklch(0.3146 0.0734 139.03);
  --color-accent: oklch(93.82% 0.2886 117.53);
  --animate-blip: blip 1.5s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@layer base {
  @supports (animation-timeline: scroll()) {
    @property --fade-top {
      syntax: "<length>";
      inherits: false;
      initial-value: 0px;
    }
    @property --fade-bottom {
      syntax: "<length>";
      inherits: false;
      initial-value: 0px;
    }

    .messages {
      --fade-distance: 40px;
      mask-image: linear-gradient(
        to bottom,
        transparent 0,
        #000 var(--fade-top),
        #000 calc(100% - var(--fade-bottom)),
        transparent 100%
      );
      mask-size: 100% 100%;
      mask-repeat: no-repeat;
      animation:
        fade-in-top 1 linear both,
        fade-out-bottom 1 linear both;
      animation-timeline: scroll(y self), scroll(y self);
      animation-range:
        0% 12%,
        88% 100%;
    }

    @keyframes fade-in-top {
      from {
        --fade-top: 0px;
      }
      to {
        --fade-top: var(--fade-distance);
      }
    }
    @keyframes fade-out-bottom {
      from {
        --fade-bottom: var(--fade-distance);
      }
      to {
        --fade-bottom: 0px;
      }
    }
  }
}

@layer utilities {
  @font-face {
    font-family: "Inter";
    src: url("/fonts/InterVariable.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
    font-weight: 400 700;
  }

  /* Font weights */
  .font-normal {
    font-variation-settings: "wght" 400;
  }
  .font-medium {
    font-variation-settings: "wght" 500;
  }
  .font-semibold {
    font-variation-settings: "wght" 600;
  }
  .font-bold {
    font-variation-settings: "wght" 700;
  }

  @keyframes blip {
    75%, 100% {
      transform: scale(3);
      opacity: 0;
    }
  }
}

@utility link {
  @apply decoration-accent hover:bg-accent font-medium underline decoration-2 text-foreground;
}

@utility prose {
  @apply text-sm;

  & > :where(* + *) {
    @apply mt-5;
  }

  & > :where(* + :is(h2,h3)) {
    @apply mt-10;
  }

  & :where(:is(h2,h3)) {
    @apply font-medium;
  }

  & :where(ul) {
    @apply marker:text-foreground/20 list-disc space-y-1 pl-6;
  }

  & :where(:is(p,li)) {
    @apply text-neutral-500;
  }

  & :where(a) {
    @apply link;
  }

  & :where(strong) {
    @apply font-semibold underline decoration-dotted;
  }
}
