@import "tailwindcss";

@theme {
  --font-sans: Inter, sans-serif;
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.145 0 0);
  --color-primary: oklch(0.3146 0.0734 139.03);
  --color-primary-foreground: oklch(1 0 0);
  --color-muted: oklch(0.97 0 0);
  --color-muted-foreground: color-mix(
    in oklch,
    var(--color-foreground),
    transparent 30%
  );
  --color-accent: oklch(93.82% 0.2886 117.53);
}

@layer utilities {
  @font-face {
    font-family: "Inter";
    src: url("/fonts/InterVariable.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
    font-weight: 400 700;
  }

  /* Font weights */
  .font-normal {
    font-variation-settings: "wght" 400;
  }
  .font-medium {
    font-variation-settings: "wght" 500;
  }
  .font-semibold {
    font-variation-settings: "wght" 600;
  }
  .font-bold {
    font-variation-settings: "wght" 700;
  }

  .full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

@utility link {
  @apply decoration-accent hover:bg-accent font-medium underline decoration-2;
}

@utility container {
  @apply mx-auto w-full max-w-5xl px-4;
}

@utility page-title {
  @apply text-2xl font-bold tracking-tight sm:text-4xl;
}

@utility page-description {
  @apply text-muted-foreground mt-1 max-w-3xl text-lg font-medium text-balance sm:text-2xl;
}

@utility prose {
  @apply max-w-prose;

  & > :where(* + *) {
    @apply mt-4;
  }

  & > :where(* + h2) {
    @apply mt-8;
  }

  & > :where(h2) {
    @apply text-xl font-semibold tracking-tight text-primary;
  }

  & > :where(h3) {
    @apply font-semibold tracking-tight;
  }

  & :where(a) {
    @apply decoration-accent hover:bg-accent font-medium underline decoration-2;
  }

  & :where(ul) {
    @apply list-disc space-y-1 pl-6 marker:text-foreground/20;
  }

  & :where(strong) {
    @apply font-semibold underline decoration-dotted;
  }

  & :where(sup a) {
    @apply bg-accent font-semibold;
  }

  & :where(hr) {
    @apply my-8 border-t border-dashed border-primary/20;
  }
}
