@import "tailwindcss";

@theme {
  --font-sans: Inter, sans-serif;
  --text-xxs: 0.625rem;
  --color-background: var(--color-neutral-100);
  --color-foreground: var(--color-neutral-900);
  --color-muted-foreground: var(--color-neutral-500);
  --color-primary: oklch(0.3146 0.0734 139.03);
  --color-accent: oklch(93.82% 0.2886 117.53);
}

@layer utilities {
  @font-face {
    font-family: "Inter";
    src: url("/fonts/InterVariable.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
    font-weight: 400 700;
  }

  /* Font weights */
  .font-normal {
    font-variation-settings: "wght" 400;
  }
  .font-medium {
    font-variation-settings: "wght" 500;
  }
  .font-semibold {
    font-variation-settings: "wght" 600;
  }
  .font-bold {
    font-variation-settings: "wght" 700;
  }

  .full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

@utility link {
  @apply decoration-accent hover:bg-accent font-medium underline decoration-2 text-foreground;
}

@utility prose {
  @apply text-sm;

  & > :where(* + *) {
    @apply mt-5;
  }

  & > :where(* + :is(h2,h3)) {
    @apply mt-10;
  }

  & :where(:is(h2,h3)) {
    @apply font-medium;
  }

  & :where(ul) {
    @apply marker:text-foreground/20 list-disc space-y-1 pl-6;
  }

  & :where(:is(p,li)) {
    @apply text-neutral-500;
  }

  & :where(a) {
    @apply link;
  }

  & :where(strong) {
    @apply font-semibold underline decoration-dotted;
  }
}
