@import "tailwindcss";

@theme {
  --font-sans: Inter, sans-serif;
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.145 0 0);
  --color-primary: oklch(0.3146 0.0734 139.03);
  --color-primary-foreground: oklch(1 0 0);
  --color-secondary: color-mix(
    in srgb,
    var(--color-primary),
    var(--color-white) 50%
  );
  --color-muted: oklch(0.97 0 0);
  --color-muted-foreground: color-mix(
    in oklch,
    var(--color-foreground),
    transparent 30%
  );
  --color-accent: oklch(93.82% 0.2886 117.53);
  --ease-spring-snappy: linear(
    0,
    0.2375,
    0.5904,
    0.8358,
    0.9599,
    1.0061,
    1.0152,
    1.0116,
    1.0062,
    1.0025,
    1.0006,
    0.9999,
    1
  );
  --ease-spring: linear(
    0,
    0.0942,
    0.2989,
    0.5275,
    0.73,
    0.8839,
    0.9858,
    1.0425,
    1.0655,
    1.0666,
    1.0558,
    1.0405,
    1.0255,
    1.0131,
    1.0043,
    0.9989,
    0.9962,
    1
  );
  --ease-spring-soft: linear(
    0,
    0.0332,
    0.1241,
    0.2583,
    0.4207,
    0.5967,
    0.7729,
    0.9379,
    1.0826,
    1.2006,
    1.2883,
    1.3445,
    1.3701,
    1.3679,
    1.3423,
    1.2983,
    1.2415,
    1.1774,
    1.1113,
    1.0477,
    0.9904,
    0.9421,
    0.9047,
    0.8789,
    0.8648,
    0.8615,
    0.8677,
    0.8815,
    0.9009,
    0.9239,
    0.9485,
    0.9727,
    0.9952,
    1.0146,
    1.0303,
    1.0417,
    1.0487,
    1.0515,
    1.0506,
    1.0465,
    1.0401,
    1.032,
    1.023,
    1.0138,
    1.0051,
    0.9974,
    0.9909,
    0.986,
    0.9828,
    0.9811,
    0.9809,
    0.9819,
    0.984,
    0.9868,
    0.99,
    0.9935,
    0.9968,
    0.9998,
    1.0025,
    1.0045,
    1.006,
    1.0069,
    1.0072,
    1.0069,
    1.0063,
    1.0054,
    1.0042,
    1.003,
    1.0017,
    1.0005,
    0.9995,
    0.9986,
    0.998,
    0.9976,
    1
  );
}

@layer utilities {
  @font-face {
    font-family: "Inter";
    src: url("/fonts/InterVariable.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
    font-weight: 400 700;
  }

  /* Font weights */
  .font-normal {
    font-variation-settings: "wght" 400;
  }
  .font-medium {
    font-variation-settings: "wght" 500;
  }
  .font-semibold {
    font-variation-settings: "wght" 600;
  }
  .font-bold {
    font-variation-settings: "wght" 700;
  }

  .full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

@utility link {
  @apply decoration-accent hover:bg-accent font-medium underline decoration-2;
}

@utility container {
  @apply mx-auto w-full max-w-5xl px-4;
}

@utility page-title {
  @apply text-2xl font-bold tracking-tight sm:text-4xl;
}

@utility page-description {
  @apply text-muted-foreground mt-1 max-w-3xl text-lg font-medium text-balance sm:text-2xl;
}

@utility prose {
  @apply max-w-prose;

  & > :where(* + *) {
    @apply mt-4;
  }

  & > :where(* + h2) {
    @apply mt-8;
  }

  & > :where(h2) {
    @apply text-xl font-semibold tracking-tight text-primary;
  }

  & > :where(h3) {
    @apply font-semibold tracking-tight;
  }

  & :where(a) {
    @apply decoration-accent hover:bg-accent font-medium underline decoration-2;
  }

  & :where(ul) {
    @apply list-disc space-y-1 pl-6 marker:text-foreground/20;
  }

  & :where(strong) {
    @apply font-semibold underline decoration-dotted;
  }

  & :where(sup a) {
    @apply bg-accent font-semibold;
  }

  & :where(hr) {
    @apply my-8 border-t border-dashed border-primary/20;
  }
}
