@import "tailwindcss";

@theme {
  --font-sans: Inter, sans-serif;
  --color-brand: oklch(94.42% 0.21617106039826628 118.6631565012937);
}

@layer utilities {
  @font-face {
    font-family: "Inter";
    src: url("/fonts/InterVariable.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
    font-weight: 400 700;
  }

  /* Font weights */
  .font-normal {
    font-variation-settings: "wght" 400;
  }
  .font-medium {
    font-variation-settings: "wght" 500;
  }
  .font-semibold {
    font-variation-settings: "wght" 600;
  }
  .font-bold {
    font-variation-settings: "wght" 700;
  }
}

@utility prose {
  @apply max-w-prose;

  & > :where(* + *) {
    @apply mt-4;
  }

  & > :where(* + h2) {
    @apply mt-8;
  }

  & > :where(h2) {
    @apply text-xl font-semibold tracking-tight;
  }

  & > :where(h3) {
    @apply font-semibold tracking-tight;
  }

  & :where(a) {
    @apply decoration-brand hover:bg-brand font-medium underline;
  }

  & :where(ul) {
    @apply list-disc space-y-1 pl-6 marker:text-neutral-300;
  }

  & :where(strong) {
    @apply font-semibold underline decoration-dotted;
  }

  & :where(sup a) {
    @apply bg-brand font-semibold;
  }
}
