---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="404" description="Page not found">
  <header
    class="flex-1 bg-primary rounded-b-lg flex justify-center items-center"
  >
    <span
      class="block max-w-[40ch] text-2xl leading-tight font-medium tracking-tight text-primary-foreground"
    >
      <h1 class="inline">404</h1>
      <span class="text-secondary">page not found.</span>
    </span>
  </header>
</Layout>
