---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="404" description="Page not found">
  <header
    class="flex-1 bg-primary rounded-b-lg flex justify-center items-center"
  >
    <span
      class="text-3xl sm:text-5xl tracking-tight text-balance text-primary-foreground leading-[1.1]"
    >
      <h1 class="inline">404</h1>
      <span class="text-secondary">page not found.</span>
    </span>
  </header>
</Layout>
