---
import { getIndexById, getSlugFromId, isProd } from "@/utils";
import { META } from "@/consts";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import InterviewCard from "@/components/interview-card.astro";
import Navigation from "@/components/navigation.astro";
import { Icon } from "astro-icon/components";
const collection = await getCollection("interviews", ({ data }) => {
  return isProd ? data.draft !== true : true;
});
const interviews = collection.sort((a, b) => {
  const aDate = a.data.published;
  const bDate = b.data.published;
  return Date.parse(bDate.toString()) - Date.parse(aDate.toString());
});
const latestInterview = interviews.slice(0, 1);
const restInterviews = interviews.slice(1, interviews.length);
---

<Layout>
  <header class="bg-primary p-8 rounded-lg">
    <Navigation class="mb-64" />
    <h1 class="text-5xl tracking-tight text-balance text-primary-foreground">
      I Brew My Own Coffee.
      <span class="text-secondary"
        >A collection of personal coffee brewing setups.</span
      >
    </h1>
  </header>
  <section>
    <div class="bg-secondary rounded-lg grid grid-cols-4">
      <div class="p-8 grid items-center">
        <h2 class="font-semibold tracking-tight text-primary">
          Frequently mentioned brands
        </h2>
      </div>
      <ul class="grid grid-cols-3 col-span-3">
        <li class="flex">
          <a
            href="/"
            class="text-primary hover:text-accent transition-colors flex items-center justify-center px-8 py-16 w-full"
          >
            <Icon name="fellow" class="h-7 w-auto translate-y-1" />
          </a>
        </li>
        <li class="flex">
          <a
            href="/"
            class="text-primary hover:text-accent transition-colors flex items-center justify-center px-8 py-16 w-full"
          >
            <Icon name="lamarzocco" class="h-9 w-auto" />
          </a>
        </li>
        <li class="flex">
          <a
            href="/"
            class="text-primary hover:text-accent transition-colors flex items-center justify-center px-8 py-16 w-full rounded-r-lg"
          >
            <Icon name="fellow" class="h-7 w-auto translate-y-1" />
          </a>
        </li>
      </ul>
    </div>
  </section>
  <section class="flex-1">
    <ul class="grid grid-cols-4 gap-4">
      {
        interviews.map((interview, index) => {
          const row = Math.floor(index / 3);
          const posInRow = index % 3;
          const highlight =
            (row % 2 === 0 && posInRow === 0) ||
            (row % 2 === 1 && posInRow === 2);
          return (
            <li
              class:list={[
                "flex flex-col",
                {
                  "col-span-2": highlight,
                },
              ]}
            >
              <InterviewCard
                {...interview}
                variant={highlight ? "highlight" : "default"}
              />
            </li>
          );
        })
      }
    </ul>
  </section>
</Layout>
