---

---

<p class="font-mono">Join 14,000+ other readers</p>
<form
  action="https://buttondown.com/api/emails/embed-subscribe/ibrewmyowncoffee"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.com/ibrewmyowncoffee', 'popupwindow')"
  class="flex gap-x-2"
>
  <label for="bd-email" class="sr-only">Enter your email</label>
  <input
    type="email"
    name="email"
    id="bd-email"
    required
    placeholder="you@example.com"
    class="border rounded-sm border-neutral-500 px-2 py-1"
  />
  <input
    type="submit"
    value="Subscribe for free"
    class="bg-neutral-950 text-neutral-50 px-2 py-1 rounded-sm"
  />
</form>
