---

---

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-x-4 gap-y-2">
  <h2 class="font-mono text-muted-foreground text-sm">
    Join the weekly newsletter
  </h2>
  <form
    action="https://buttondown.com/api/emails/embed-subscribe/ibrewmyowncoffee"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.com/ibrewmyowncoffee', 'popupwindow')"
    class="contents"
  >
    <label for="bd-email" class="sr-only">Email address</label>
    <input
      type="email"
      name="email"
      id="bd-email"
      placeholder="you@example.com"
      required
      class="relative px-4 py-2 border border-neutral-300 bg-white shadow-sm shadow-black/5 sm:row-start-2"
    />
    <input
      type="submit"
      value="Subscribe for free"
      class="relative sm:w-max px-4 py-2 border border-secondary bg-secondary text-secondary-foreground font-medium shadow-sm shadow-black/5 tracking-tight sm:row-start-2"
    />
  </form>
  <p class="text-[0.625rem] font-mono text-muted-foreground sm:row-start-3">
    [WARNING]: Subscribing may inspire you to purchase new coffee gear. Proceed
    with caution.
  </p>
</div>
