---
import { Image } from "astro:assets";
---

<div class="bg-purple-600/10 p-4">
  <div class="grid grid-cols-3 gap-x-4">
    <div class="aspect-[3/2] relative">
      <Image
        src="/img/madcap-coffee.jpg"
        alt=""
        width="600"
        height="400"
        class="absolute w-full h-full object-cover"
      />
    </div>
    <div class="col-span-2 flex flex-col py-4">
      <p class="mb-auto font-mono uppercase text-xs text-muted-foreground">
        Sponsored by
      </p>
      <h2 class="mt-0">Madcap Coffee Company</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita
        voluptatibus totam praesentium quam fugit incidunt quidem eum?
        Dignissimos cupiditate veniam sapiente aliquam minima, iste velit,
        consequatur beatae ea aut laudantium.
      </p>
    </div>
  </div>
</div>
