---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <header class="mt-8">
    <h1 class="font-bold text-3xl sm:text-4xl tracking-tight">
      Newsletter&nbsp;&not;
    </h1>
    <p
      class="mt-1 text-xl sm:text-2xl font-medium text-neutral-600 max-w-3xl text-balance"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, eius.
      Quibusdam commodi aspernatur, enim veniam dolore esse.
    </p>
  </header>

  <section class="mt-12">
    <!-- <p class="font-mono text-neutral-600 text-sm">Join 14,000+ other readers</p> -->
    <h2 class="font-mono text-neutral-600 text-sm">Join the newsletter</h2>
    <form
      action="https://buttondown.com/api/emails/embed-subscribe/ibrewmyowncoffee"
      method="post"
      target="popupwindow"
      onsubmit="window.open('https://buttondown.com/ibrewmyowncoffee', 'popupwindow')"
      class="flex gap-4 mt-2 flex-col sm:flex-row"
    >
      <label for="bd-email" class="sr-only">Email address</label>
      <input
        type="email"
        name="email"
        id="bd-email"
        placeholder="you@example.com"
        required
        class="relative px-4 py-2 border border-neutral-300 sm:w-1/2 md:w-1/3 shadow-sm shadow-black/5"
      />
      <input
        type="submit"
        value="Subscribe for free"
        class="relative px-4 py-2 border border-neutral-950 bg-neutral-950 text-neutral-50 font-medium shadow-sm shadow-black/5"
      />
    </form>
  </section>
</Layout>
