---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <header class="mt-8">
    <h1 class="font-bold text-3xl sm:text-4xl tracking-tight">
      Submit a setup&nbsp;&not;
    </h1>
    <p
      class="mt-1 text-2xl font-medium text-neutral-600 max-w-3xl text-balance"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, eius.
      Quibusdam commodi aspernatur, enim veniam dolore esse, est sed provident
      possimus nobis.
    </p>
  </header>
</Layout>
