---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <header class="mt-8">
    <h1 class="font-bold text-3xl sm:text-4xl tracking-tight">
      Submit a setup&nbsp;&not;
    </h1>
    <p
      class="mt-1 text-2xl font-medium text-neutral-600 max-w-3xl text-balance"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, eius.
      Quibusdam commodi aspernatur, enim veniam dolore esse, est sed provident
      possimus nobis.
    </p>
  </header>

  <section class="mt-12">
    <div class="relative bg-neutral-100 p-8 max-w-prose">
      <button class="absolute top-8 right-8">Copy template</button>
      <div class="prose">
        <h2>Who are you and what do you do?</h2>
        <p class="opacity-50">
          {"<!-- Fill in answer here -->"}
        </p>
        <h2>What does your brewing setup look like?</h2>
        <p class="opacity-50">
          {"<!-- Fill in answer here -->"}
        </p>
        <h2>What is you preffered brewing method?</h2>
        <p class="opacity-50">
          {"<!-- Fill in answer here -->"}
        </p>
        <h2>Lastly, any coffee bean recommendations?</h2>
        <p class="opacity-50">
          {"<!-- Fill in answer here -->"}
        </p>
      </div>
    </div>
  </section>
</Layout>
