---
import Layout from "@/layouts/Layout.astro";
const meta = {
  title: "Submit a setup",
  description:
    "Interested in participating, send us an email using the template below!",
};
---

<Layout>
  <header class="mt-8">
    <h1 class="font-bold text-3xl sm:text-4xl tracking-tight">
      {meta.title}&nbsp;&not;
    </h1>
    <p
      class="mt-1 text-2xl font-medium text-muted-foreground max-w-3xl text-balance"
    >
      {meta.description}
    </p>
  </header>

  <section class="mt-12">
    <div class="relative bg-neutral-100 p-8 max-w-prose">
      <div class="prose">
        <h2>Who are you and what do you do?</h2>
        <p class="opacity-50">
          {"<!-- Fill in answer here -->"}
        </p>
        <h2>What does your brewing setup look like?</h2>
        <p class="opacity-50">
          {"<!-- Fill in answer here -->"}
        </p>
        <h2>What is you preffered brewing method?</h2>
        <p class="opacity-50">
          {"<!-- Fill in answer here -->"}
        </p>
        <h2>Lastly, any coffee bean recommendations?</h2>
        <p class="opacity-50">
          {"<!-- Fill in answer here -->"}
        </p>
      </div>
    </div>
  </section>
</Layout>
