---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <header class="mt-8">
    <h1 class="font-bold text-3xl sm:text-4xl tracking-tight">
      Sponsorships&nbsp;&not;
    </h1>
    <p
      class="mt-1 text-xl sm:text-2xl font-medium text-neutral-600 max-w-3xl text-balance"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, eius.
    </p>
  </header>

  <section class="mt-12">
    <h2 class="sr-only">Newsletter stats</h2>
    <ul class="grid grid-cols-2 md:grid-cols-4 bg-neutral-950 rounded-sm">
      <li class="p-8 border-white border-dashed border-r max-md:border-b">
        <h2 class="font-mono text-brand text-xs uppercase mb-2">Subscribers</h2>
        <p class="text-4xl font-bold text-white">
          {new Intl.NumberFormat().format(1000)}
        </p>
      </li>
      <li class="p-8 border-white border-dashed md:border-r max-md:border-b">
        <h2 class="font-mono text-brand text-xs uppercase mb-2">
          Click-through rate
        </h2>
        <p class="text-4xl font-bold text-white">6-7%</p>
      </li>
      <li class="p-8 border-white border-dashed border-r">
        <h2 class="font-mono text-brand text-xs uppercase mb-2">Open rate</h2>
        <p class="text-4xl font-bold text-white">55%</p>
      </li>
      <li class="p-8 border-white border-dashed">
        <h2 class="font-mono text-brand text-xs uppercase mb-2">Schedule</h2>
        <p class="text-4xl font-bold text-white">Weekly</p>
      </li>
    </ul>
  </section>

  <section class="mt-12">
    <div class="prose">
      <h2>Tier 3</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
        adipisci, deserunt sunt nobis ab veritatis fugiat, vitae eos quasi odio,
        ad necessitatibus amet quo nulla maiores sapiente magni soluta omnis!
      </p>
      <h3>What you get:</h3>
      <ul>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
      </ul>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
        adipisci, deserunt sunt nobis ab veritatis fugiat, vitae eos quasi odio,
        ad necessitatibus amet quo nulla maiores sapiente magni soluta omnis!
      </p>
      <h2>Tier 2</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
        adipisci, deserunt sunt nobis ab veritatis fugiat, vitae eos quasi odio,
        ad necessitatibus amet quo nulla maiores sapiente magni soluta omnis!
      </p>
      <h2>Tier 1</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
        adipisci, deserunt sunt nobis ab veritatis fugiat, vitae eos quasi odio,
        ad necessitatibus amet quo nulla maiores sapiente magni soluta omnis!
      </p>
    </div>
  </section>
</Layout>
